@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --foreground: #171717;
  --greenD1: #152812;
  --greenD2: #216100;
  --greenD3: #90b081c8;
  --greenC1: #8ab22e;
  --greenC2: #5d8d5d;
  --greenC3: #e7f0ef;
  --redD1: #ed413e;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*   --background: #0a0a0a;
    --foreground: #ededed;
    --background: #dce1d6c1;
    --foreground: #090909;
  */
    --background: #e7f0ef;
    --foreground: #152812;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
