.App {
  animation: movimiento 30s infinite linear alternate;
  background-image: url(../src/components/Images/macro.jpg);
  background-size: 130%;
  position: relative;
  text-align: center;
  width: 100%;
  
}

@keyframes movimiento {
  from{
    background-position: bottom left;
  } to {
    background-position: top right;
  }
}


.capa-gradiente {
  width: 100%;
  height: 100%;
  position: absolute;
  background:linear-gradient(to left top, #031B1C, #7BC8E1);
  /* background-image: linear-gradient(left,#141814, #6F758C,#B7BAC5); */
  opacity: 0.7;
}

.contenido-details{
  width: 100%;
  position: relative;
}

.Contenido {
  width: 100%;
  position: relative;


  /* background-image: url(../src/components/Images/macro.jpg);
  background-position: center;
  opacity: 1.0;
  
  background-size:130%;
  background-repeat: repeat; */
}


