.App {
  animation: movimiento 20s infinite linear alternate;
  background-image: url(../src/components/Images/macro.jpg);
  background-size:100%;
  position: relative;
  text-align: center;
  width: 100%;
  
}

@keyframes movimiento {
  from{
    background-position: bottom left;
  } to {
    background-position: top right;
  }
}


.capa-gradiente {
  width: 100%;
  position: absolute;
  background: -webkit-linear-gradient(to right, red , blue);
  /* background-image: linear-gradient(left, #6F758C,#B7BAC5); */
  opacity: 0.5;
}

.contenido-details{
  width: 100%;
  position: relative;
}

.Contenido {
  width: 100%;
  position: relative;


  /* background-image: url(../src/components/Images/macro.jpg);
  background-position: center;
  opacity: 1.0;
  
  background-size:130%;
  background-repeat: repeat; */
}


